<!--text-align:center-->
<div class="container">
    <div class="col-md-8">
        <!--匹配题 -->
            <div>{{id}}.<span class="glyphicon glyphicon-flag btn" aria-hidden="false" style="font-size: 20px;color:{{red}}" ng-model="count" ng-click="chgColor(count)" id="{{ID}}"> </span> </div>
            <div ng-repeat="contentlist in contentlists">
                ({{$index+1}}).{{contentlist.content}}
                <select role="button" ng-model="option[contentlist.contentId]" ng-options="x.choiceId as x.alp for x in lists">
                </select>
            </div>
        <div style="padding-left:5%">
            <a class="btn" ng-click="before ||sreceive4(option)" ng-disabled="before">上一题</a>
            <a class="btn" ng-click="receive4(option)">下一题</a>
        </div>
    </div>
    <div class="col-md-4">
            <br>
        <br>
        <div ng-repeat="list in lists">
            {{list.alp}}.{{list.content}}
        </div>
    </div>
</div>
