<div ui-view="navbar" style="height:6%;background-color:#337ab7/* #2aabd2 */">
</div>
<div ng-controller="TabsCtrl" id='main'>
    <div class="supervi">
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="x in operationMetaInfo" class="{{active[$index]}}">
                <a ng-click="sel($index)">{{x}}</a>
            </li>
        </ul>
        <div class="content" ng-repeat="x in operationMetaInfo" style="display:{{display[$index]}}">
            <div id='workingSpace'>
                <div style="margin:2% auto;width:20%">
                    <input type="text" ng-model="$parent.inputMessage"> {{inputMessage}}
                </div>
                <div style="margin:2% auto;width:20%">
                    <button type="button" class="btn btn-primary" ng-click="confirm()">确认操作</button>
                </div>
            </div>
            <div id="selectArea">
                <div style="margin:2% 0% 2% 60%;width:40%;height:5%">
                    <label>已选择:{{selectedNum}}/{{studentsInfo.length}}</label>
                    <button type="button" class="btn btn-info" ng-click="selectAll()">全部选择</button>
                    <button type="button" class="btn btn-info" ng-click="cancelAll()">取消选择</button>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <th>#</th>
                            <th ng-repeat="smi in studentMetaInfo">
                                {{smi}}
                            </th>
                            <th>选择</th>
                        </tr>
                        <tr class="{{studentsStatus[student.id]}}" ng-repeat="student in studentsInfo">
                            <td>
                                {{$index+1}}
                            </td>
                            <td ng-repeat="info in student">
                                {{info}}
                            </td>
                            <td>
                                <input type="checkbox" ng-model="selectionStatus[student.id]" ng-click="checkSel(selectionStatus[student.id])">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
