<div class="container tabfront">
    <div ng-init="radioreceive()">
        <div>
            <span class="glyphicon glyphicon-flag btn" aria-hidden="false" style="font-size: 20px;color:{{red}}" ng-click="chgColor()"></span> {{num}}、{{title}}
        </div>
        <div style="padding-left:5%">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="option" name="optionsRadios" id="optionsRadios1" value="option1"> <span>A、{{option1}}</span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="option" name="optionsRadios" id="optionsRadios2" value="option2"> <span>B、{{option2}}</span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"> <span>C、{{option3}}</span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"><span>D、{{option4}}</span>
                </label>
            </div>
        </div>
        <div style="padding-left:5%">
            <a class="btn" ng-click="radio(option)">上一题</a>
            <a class="btn" ng-click="receive(option)">下一题</a>
        </div>
    </div>
</div>
