<!--text-align:center-->
<div class="container">
    <div class="col-md-10">
        <!--简答题 -->
            <span class="glyphicon glyphicon-flag btn" aria-hidden="false" style="font-size: 20px;color:{{red}}" ng-model="count" ng-click="chgColor(count)" id="{{ID}}"> </span>{{nid}}.{{content}}
           <!--  <input class="input-large"> -->
            <textarea style="background-position: right top; background-repeat: no-repeat;"  class="form-control mono wmd-input tabIndent-rendered" rows="10" placeholder="撰写答案..." ng-model="option"></textarea>
        <div style="padding-left:5%">
            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" previous-text="{{previousText}}" next-text="{{nextText}}" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged(option)"></ul>
        </div>
    </div>
</div>
