<div ng-controller="ImportFile" style="height:100%">

    <div style="margin-bottom:3%;height:12%">
            <br>
        <input type="file" id="selectFile" style="display:none" custom-on-change="selectFile">
        <input ng-model="fileName" placeholder="选择文件" disabled>
        <label for="selectFile" class="btn btn-primary">选择文件</label>
        <button type="button" ng-click="upload()" class="btn btn-info">导入文件</button>
        <button type="button" ng-click="clear()" class="btn btn-info">清空卷库</button>
        <span class="glyphicon glyphicon-refresh" style="animation: refreshing infinite linear 1s;" ng-show=clearshow></span>
        <div style="padding-left:33%">
            <uib-progressbar class="progress-striped active" animate='false' value="progressPer" type="success" style="width:30%" align="center" ng-show=ngshow>{{progressPer}}%</uib-progressbar>
            <!--  <uib-progressbar class="progress-striped active" animate='false' value="clearPer" type="success" style="width:30%" ng-show=clearshow>{{clearPer}}%</uib-progressbar> -->
        </div>
        <div style="font-size:120%">
            <span class="glyphicon glyphicon-refresh" style="animation: refreshing infinite linear 1s;" ng-show=checkshow>
                
            </span>
            <span ng-show=checkshow> 正在检测中......</span>
        </div>

        <!--</div>-->
    </div>
    <!--<div class="selectArea">

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tr>
                    <th ng-repeat="(key,value) in roomMetaInfo" ng-click="thClick(key)" class='cursor-pointer'>{{value}}
                    </th>
                </tr>
                <tr class="{{roomsStatus[room]}}" ng-repeat="room in Examinfo | orderBy:orderCondition:isReverse">
                    <td ng-bind="room.id"></td>
                    <td ng-bind="room.roomName"></td>
                    <td ng-bind="room.startTime| date:'yyyy-MM-dd HH:mm:ss'"></td>
                   
                </tr>
            </table>
        </div>
    </div>-->
</div>