导入考生安排
<div ng-controller="ImportStuFile">
    <input type="file" id="StuFile" style="display:none" custom-on-change="selectFile">
    <input ng-model="selectedFile.name" placeholder="选择文件" disabled>
    <label for="StuFile" class="btn btn-primary">选择文件</label></button>
    <button type="button" ng-click="upload()" class="btn btn-info">导入</button>
    <div style="padding-left:33%">
        <uib-progressbar class="progress-striped active" animate='false' value="progressPer" type="success" style="width:30%" ng-show=ngshow>{{progressPer}}%</uib-progressbar>
        {{progressInfo}}
    </div>
</div>