导入试卷
<div ng-controller="ImportFile">
    <input type="file" id="selectFile" style="display:none" custom-on-change="selectFile">
    <input ng-model="selectedFile.name" placeholder="选择文件" disabled>
    <label for="selectFile" class="btn btn-primary">选择文件</label></button>
    <button type="button" ng-click="upload()" class="btn btn-info">导入</button>
    <div style="padding-left:33%">
    <uib-progressbar class="progress-striped active" animate='false' value="progressPer" type="success" style="width:30%" align="center" ng-show=ngshow>{{progressPer}}%</uib-progressbar>
        {{progressInfo}}
    </div>

</div>