<div class="col-md-8 col-md-offset-3" ng-controller="subjectCtrl">
    <div class="form-group" style="padding-left:15%;font-size:150%">
        科目
    </div>
    <div class="form-group">
        <span style="width:15%;display:inline-block">考试科目：</span><input ng-model="name">
    </div>
    <div class="form-group">
        <span style="width:15%;display:inline-block">考试时长：</span><input ng-model="duration">分钟
    </div>
    <div class="form-group">
        <span style="width:15%;display:inline-block">最早交卷时间：</span><input ng-model="earliestSubmit">分钟
    </div>
    <div class="form-group">
        <span style="width:15%;display:inline-block">最晚登录时间：</span><input ng-model="latestLogin">分钟
    </div>
     <div class="form-group">
        <input type="checkbox" ng-model="scoreShow">考试结束显示分数
    </div>
    <div class="form-group">
        <span style="width:10%;display:inline-block">题型：</span>
    </div>
    <div class="form-group">
        <input type="checkbox" ng-model="singleCheckbox">单选题 分值：<input ng-model="singleScore">分
    </div>
    <div class="form-group">
        <input type="checkbox" ng-model="multipleCheckbox">多选题 满分：<input ng-model="multifulScore">分 少选：<input ng-model="multiScore">分
    </div>
    <div class="form-group">
        <input type="checkbox" ng-model="judgeCheckbox">判断题 分值：
        <input ng-model="judgeScore">分
    </div>
    <div class="form-group">
        <input type="checkbox" ng-model="matchCheckbox">匹配题 单个匹配正确分值：<input ng-model="matchScore">分
    </div>
    <div class="form-group">
        <input type="checkbox" ng-model="simpleCheckbox">简答题 分值：<input ng-model="simpleScore">分
    </div>
    <div class="form-group">
        <button class="btn btn-primary" ng-click="save()">保存</button> <button class="btn btn-warning">取消</button>
    </div>
</div>